doctype 5
html
	head
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
	script(src="/socket.io/socket.io.js")


	body
		.container
			.panel.panel-default
				.panel-body
					#log
			.panel.panel-default
				.panel-body
					#chart3
			.panel.panel-default
				#dom

	




	script.
		
		io = io.connect();

		io.emit("ready", function(data) {
			console.log(data);
		});

		io.on('test', function(data) {
			$('#dom').append('<h1>'
			+ data +'</h1>')
		});

		io.on('log', function(data) {
			$('#log').prepend('<h5>'
			+ data +'</h5>')
		});



	script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
	script.

		var G3 = jsnx.Graph();

		var color = d3.scale.category20();
		jsnx.draw(G3, {
		    element: '#chart3',
		    layout_attr: {
		        charge: -520,
		        linkDistance: 30
		    },
		    node_attr: {
		        r: 8,
		        title: function(d) { return d.label;}
		    },
		    node_style: {
		        fill: function(d) { 
		            return color(d.data.group); 
		        },
		        stroke: 'none'
		    },
		    edge_style: {
		        stroke: '#999'
		    }
		}, true);

		G3.add_nodes_from([11,12,13, 14], {group:1});

		G3.add_nodes_from([1,2,3,4,5,6,7,8,9], {group:0});
		G3.add_path([1,2,3,4,5,6,7,8,9,1]);
		G3.add_edges_from([[1,10],[2,11],[3,12],[4,13],[5,14],[6,15],[7,16],[8,17],[9,18]]);
