doctype 5
html
	head
	title= title
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
	script(src="/socket.io/socket.io.js")
	
	body
		.container
			#dom

	
	script.
		
		io = io.connect();

		io.emit('ready', function(data) {
			console.log(data);
		});

		io.on('test', function(data) {
			$('#dom').append('<h1>'
			+ data.message +'</h1>')
		});
